---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Blog">
	<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <div class="max-w-[85rem] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
    <!-- your content goes here ... -->
		<h1 class="text-4xl font-bold text-neutral-500">Blog</h1>
		
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
	
</BaseLayout>