---

---
<!-- Stats -->
<div>
  <h4 class="text-lg sm:text-xl font-semibold text-white">Event</h4>
  <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-500">100+</p>
  <p class="mt-1 text-gray-400">sejak 1996</p>
</div>
<!-- End Stats -->

<!-- Stats -->
<div>
  <h4 class="text-lg sm:text-xl font-semibold text-white">Jumlah siswa</h4>
  <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-500">2,000+</p>
  <p class="mt-1 text-gray-400">semua kursus</p>
</div>
<!-- End Stats -->

<!-- Stats -->
<div>
  <h4 class="text-lg sm:text-xl font-semibold text-white">Happy customer</h4>
  <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-500">90%</p>
  <p class="mt-1 text-gray-400">tahun ini saja</p>
</div>
<!-- End Stats -->